{% extends 'core/base.html' %}

{% block title %}{{ page_title }} - My Django Site{% endblock %}

{% block content %}
    <h2>Contact Me:</h2>
    <p>Feel free to reach out!</p>

    <p><strong>Email:</strong> <a href="mailto:aya.elmizari@gmail.com">aya.elmizari@gmail.com</a></p>
    <p><strong>Phone:</strong> +966532059281</p>

    <h3>Find Me Online:</h3>
    <ul>
        <li><a href="https://github.com/Aya-El-Mizari" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/aya-el-mizari-035250384/" target="_blank">LinkedIn</a></li>
    </ul>
{% endblock %}