{% extends 'core/base.html' %}

{% block title %}{{ page_title }} - My Django Site{% endblock %}

{% block content %}
    <h2>Welcome to My Django Mini Site!</h2>
    <p>This is the home page built using django.</p>
    <p>This site demonstrates:</p>
    <ul>
        <li>Django views and URLs</li>
        <li>Template inheritance</li>
        <li>Static files (CSS)</li>
        <li>Dynamic content rendering</li>
    </ul>
    <p>Navigate using the menu above to explore!</p>
{% endblock %}